

<div class="row">
    <div class="col-md-4">
        <div class="form-group">

        </div>

        <div class="form-group">
            <label for="ModelName">Model Name:</label>

            <Input id="ModelName" class="form-control" ng-model="watch.ModelName" />


        </div>

        <div class="form-group">
            <label for="Price">Price:</label>

            <Input type="number" id="Price" class="form-control" ng-model="watch.Price" />


        </div>

        <div class="form-group">
            <label for="Size">Size:</label>

            <Input type="number" id="Size" class="form-control" ng-model="watch.Size" />


        </div>

        <div class="form-group">
            <label style="text-align: left" for="GuaranteePeriod">Guarantee Period:</label>

            <Input type="number" id="GuaranteePeriod" class="form-control" ng-model="watch.GuaranteePeriod" />


        </div>

        <div class="form-group">
            <label for="Location">Location:</label>

            <Input id="Location" class="form-control" ng-model="watch.Location" />

        </div>

        <div class="form-group">
            <label for="ManufacturerId">Manufacturer Id:</label>

            <Input type="number" id="ManufacturerId" class="form-control" ng-model="watch.ManufacturerId" />

        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" ng-click="SaveWatch() " />
        </div>
    </div>
        </div>